/* variables */
:root{
    --text-color: #707070;
    --btn-color: #3C82F4;
    --gradient-color: linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);
    --main-color:#fff;
    --green: #0FC65C;
    --bg-color:#000000;
    --fonts:Poppins;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global changes */
a {
    text-decoration: none;
}

li{
    list-style: none;
}

/* container */
.container{
    max-width: 1640px;
    width: 100%;
    margin: auto;
    background: var(--bg-color);
   
}

/* header */
header .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 46px 140px;
}

header nav ul{
    display: flex;
}

header nav{
    display: flex;
}

header ul a{
    color: var(--text-color);
    margin-right: 1.25rem;
    font-family:var(--fonts) ,serif;
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 500;
}   

header .btns a{
    font-family:var(--fonts) ,serif;
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 500;
    border: none;
    color: var(--text-color);
    margin-right: 1.5rem;

}

.blue_btn{
    padding: 0.75rem 1.37rem;
    background: var(--btn-color);
    color: var(--main-color);
    border-radius: 0.7rem;
    border: none;
}

main{
    text-align: center;
    color: var(--main-color);
}

main h1{
    font-family: var(--fonts);
    font-size: 112px;
    font-weight: 700;
    line-height: 168px;
    
}

main .linier-color{
    background: linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);
    -webkit-background-clip: text;
    background-clip: text;    
    color: transparent;
}

main .main_text{
    color: var(--main-color);
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    
}

.main_btn{
    padding: 24px 74px;
    border-radius: 0.7rem;
    outline: none;
    margin-top: 50px;
    margin-bottom: 21px;
}

.main__btn_2{
    background: none;
    color: var(--main-color);
    border: 1px solid #707070;
    margin-left: 16px;
    
}

.counter .circle{
    background: #0FC65C;
    width: 28px;
    height: 28px;
}

.counter .counter_text{
    color: var(--text-color);
}

section{
    text-align: center;
    margin-top: 188px;
    color: var(--main-color);
}

section h2{
    font-family: var(--fonts);
    font-size: 75px;
    font-weight: 600;
    line-height: 112px;
}

section .emojes{
    margin-top: 64px;
    display: flex;
    justify-content: center;
}

section .party{
    margin-right: 107px;
}

section .party h3{
    font-family: var(--fonts), serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 52px;
    
}

section .party p{
    font-family: var(--fonts), serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    color: var(--text-color);
}

/* connect */

.connect{
    margin: auto;
    max-width: 886px;
    margin-top: 162px;
    text-align: center;
    color: var(--main-color);
}

.connect .step{
    font-family:var(--fonts), serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    color: var(--btn-color);
}

.connect h2{
    font-family: var(--fonts),serif;
    font-size: 75px;
    font-weight: 600;
    line-height: 112px;
}

.connect .connect_text{
    font-family: var(--fonts),serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    color: var(--text-color);    
}

.connect button{
    margin-top: 58px;
    border: 1px solid #707070;
    background: none;
    padding: 24px 38px;
    color: var(--text-color);
}

.home_page{
    display: flex;
    color: var(--main-color);
    margin-top: 190px;
    justify-content: flex-end;
    font-family: var(--fonts), serif;
}

.home_page .page_left{
    margin-right: 50px;
}

.home_page h2{
    margin-top: 80px;
    font-family: Poppins;
    font-size: 75px;
    font-weight: 600;
    line-height: 112px;
    letter-spacing: 0px;
    
}

.home_page .spot{
    color: var(--btn-color);
}

.options{
    font-family: var(--fonts);
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}

.options_circle{
    background: #2D2D2D;
    padding: 5px 14px;
    border-radius: 50%;
    margin-right: 12px;
}
.options_2{
    margin-top: 13px;
}

.home_page .btns .page_btn{
    padding: 18px 22px;
    outline: none;
}

.page_right img{
    width: 820px;
    height: 715px;
}

/* collects */
.collects{
    max-width: 1420px;
    margin: 95px;
    display: flex;
    color: var(--main-color);
    margin-top: 176px;
    justify-content: center;
    margin: auto;
    margin-bottom: 70px;
}

.collects div{
    background: #0D0D0D;
    max-width: 854px;
    padding: 33px 44px;
}

.collects_left{
    min-width: 700px;
}
.one_link{
    color: var(--green);
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
}

.collects h2{
    font-family: var(--fonts)c;
    font-size: 80px;
    font-weight: 600;
    line-height: 120px;
}

.collects h2 span{
    color:  #919191;
}

.collects_right{
    min-width: 700px;
    margin-left: 23px;
}

.base{
    display: block;
    padding: 22px 82px;
    margin: auto;
}

.experts{
    margin-top: 99px;
    text-align: center;
    color: var(--main-color);
    padding: 47px;
}

.experts h2{
    font-family: var(--fonts), serif;
    font-size: 75px;
    font-weight: 600;
    line-height: 112px;
    margin-bottom: 52px;
}

.experts img{
    width: 100%;
}